# Gradle
.gradle/
build/
*.iml

# Android Studio / IDEA
.idea/
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Секреты — НИКОГДА не коммить!
local.properties
*.jks
*.keystore

# APK и AAB
*.apk
*.aab

# Логи
*.log
